/*General Reset Code*/

body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4;
}


#main-nav{
    background-color: #333;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    margin: 0px;
}


#main-nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    
    
}

#main-nav ul li{
    margin-left: 20px;
}

#main-nav a {
    text-decoration: none; /* Removes underline */
    color: white;
    font-weight: bold;
}

/* --- SECTION TITLES --- */
.section-title {
    text-align: center;
    color: #333;
    margin-top: 40px;
}

